/.DS_Store
/.ipynb_checkpoints
/.vscode
/AUC Assignment.ipynb
/Algorithm and Design
/Assignment1-with-excel-file.ipynb
/CS310-DA
/CiTL.html
/Cosine Similarity.ipynb
/MNIST
/Overwatch_Busan.webp
/Untitled.ipynb
/Untitled1.ipynb
/data
/file.txt
/file1.txt
/gui
/imagetest.html
/output.txt
/output1.txt
/overwatch_planner
/run_CiTL.py
/scouting.py
/scouting2.py
/scouting3.py
/test
/test.py
/testGAN.ipynb
/testGAN2.ipynb